<p id="notice"><%= notice %></p>

<p>
  <strong><%= Book.human_attribute_name("book.title") %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name("book.memo") %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name("book.author") %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name("book.picture") %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to I18n.t('views.books.edit'), edit_book_path(@book) %> |
<%= link_to I18n.t('views.books.back'), books_path %>
